header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header nav {
     display: flex;
    flex-wrap: wrap;
    margin: 2% 0% 0% 0%;
    width: 40em;
    font-size: 110%;
}
header .Call {
    margin-left: 10%;
    text-decoration-line: none;
    border: 2.3px solid #b57ad2;
    border-radius: 13px;
    padding: 5px;
    margin-bottom: 2%;
    color: #b57ad2;
    font-weight: 900;
}
header .lien {
    margin: 1% 2% 0% 2%;
    text-decoration-line: none;
    color: black;
}
header h1 {
    color: #b57ad2;
    margin-left: 5%;
}
.sectionP {
    border: 0.1px solid white;
    width: 100%;
    height: 43em;
    background: url("../images/Frame 1.PNG") no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
div.partiune {
    border: 0px solid;
    width: 48%;
    margin: 14% 5% 0% 4%;;
}
div.partiune h1 {
    font-size: 300%;
}
div.partiune p {
    font-size: 150%;
}
img.achievements {
    width: 100%;
}
.sectionD h2, .sectionD p {
    text-align: center;
}
.sectionD .cou {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cou1 {
    border: 3px solid #7773;
    border-radius: 8px;
}
.cou1 p {
    text-align: start;
    font-size: 190%;
}
.cou1 li {
    font-size: 130%;
    font-weight: bold;
    list-style: none;
    margin-bottom: 4%;
}
.cou1 li:before {
    position: relative;
    left: -1vh;
    bottom: -1.5vh;
    content:"\2022";
    color: #B57AD2;
    font-size: 200%;
}
ul a.btn {
    text-decoration-line: none;
    color: white;
    background-color: #B57AD2;
    padding: 2%;
    font-size: 130%;
    font-weight: 600;
    border-radius: 25px;
}
.sectionT h2, .sectionT .pa {
    text-align: center;
}
.sf .Understand {
    background: url("../images/Group1.PNG") no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.sf .start {
    background: url("../images/Group2.PNG") no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.sf .flexible {
    background: url("../images/Frame 6.PNG") no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.sectionT div.sf {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sf div {
    width: 25em;
    height: 40em;
}
.sf div h3 {
    margin-top: 100%;
    text-align: center;
    color: white;
}
.sf div p {
    margin: 9%;
    color: white;
}
button a {
    text-decoration-line: none;
    color: white;
    font-size:150%;
}
button.a {
    background-color: #B57AD2;
    border-radius: 30px;
    padding: 2%;
    border: none;
}
.sectionQ {
    text-align: center;
}
.sectionQ .sauce {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sauce div {
    width: 20em
}
button.b {
    background-color: #B57AD2;
    border-radius: 30px;
    padding: 1%;
    border: none;
}
.sectionC {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: url("../images/Rectangle 7.PNG") no-repeat;
    background-size: cover;
}
.para {
    width: 23em;
    font-size: 180%
}
.para1 {
    font-size: 70%;
}
.para2 {
    font-size: 70%;
    margin-top: -5%;
}
div.founder {
    margin: 2%;
}
.sectionS {
    text-align: center;
    background: url("../images/Oval.PNG") no-repeat;
    background-size: cover;
    height: 50em;
}
div.pm {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3% 0% 2% 5%}
div.tn {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sectionS h2 {
    font-size: 180%;
}
.sectionS p {
    font-size: 130%;
}
.sectionSe .stori {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.sto {
    width: 30em;
    height: 25em;
    margin-top: 10%;
    
}
div.ech img {
    width: 40em;
    height: 40em;
}
.sectionSe h2, .typ {
    text-align: center;
}
.sectionSe li {
    list-style: none;
    margin-bottom: 4em;
    margin-top: -3em;
}
.sectionSe li:before {
    content: ".";
    color: #B57AD2;
    position: relative;
    font-size: 5em;
}
.sectionSe span {
    font-size: 120%;
    font-weight: 900;
}
.sectionSe li p {
    margin-top: -0.5em;
}
.sectionH {
    background-color: #fefaf8;
}
div.our {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.exp {
    width: 32em;
    margin-top: 3em;
    font-size: 110%;
}
form input[type=text] {
    width: 20em;
    height: 2em;
    margin-bottom: 1em;
    border-radius: 3px;
    border: 1px solid #7775;
    font-size: 100%;
    padding-left: 2%;
}
form textarea {
    width: 20.4em;
    height: 10em;
    border-radius: 3px;
    border: 1px solid #7775;
    font-size: 120%;
}
.hexp {
    text-align: center;
    font-size: 210%;
}
.hexp2 {
    text-align: center;
    font-size: 110%;
}
.bt3 {
    background-color: #B57AD2;
    padding: 2%;
    border-radius: 25px;
    border: none;
}
form input[type=submit] {
   background-color: #B57AD2;
    padding: 3%;
    font-size: 130%;
    margin: 5% 0% 5% 35%;
    border-radius: 20px;
    border: none;
    color: white;
}
footer {
    background-color: #B57AD2;
}
div.fot1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}
footer li {
    list-style: none;
    margin-left: -2.3em;
    margin-bottom: 0.5em;
}
footer li a {
    text-decoration-line: none;
    color: white;
}
footer ul {
    margin-top: -1.1em
}
footer p {
    text-align: center;
    margin-top: 4%;
    color: white;
}
.socio {
    width: 21%;
    margin-bottom: 1.5%;
}
header nav .lien:hover {
    text-decoration: underline;
}
footer li a:hover {
    text-decoration: underline;
}